<% provide(:title, "My balance") %>

<%= render "shared/navbar" %>
<div class="bg-gray-100 py-12 px-6 xl:px-28 grid grid-cols-7 gap-8">
    <%= render "profiles/shared/side_navbar" %>
    <div class="md:col-span-5 col-span-full">
        <h1 class="text-3xl font-extrabold text-gray-900 text-center mb-8">My balance</h1>
        <div class="grid lg:grid-cols-2 items-center">
            <%= form_with class: "lg:pr-4 pb-4 border-b lg:border-b-0 lg:pb-0 lg:border-r" do |form| %>
                <h2 class="mb-5 text-lg font-bold text-gray-900">Transfer to:</h2>
                <div class="mb-5">
                    <%= form.label :name, "Name", class: "block text-sm font-medium text-gray-700 mb-1" %>
                    <%= form.text_field :name, class: "block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
                </div>
                <div class="mb-5">
                    <%= form.label :account_number, "Account number", class: "block text-sm font-medium text-gray-700 mb-1" %>
                    <%= form.number_field :account_number, class: "block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
                </div>
                <div class="mb-5">
                    <%= form.label :bsb, "BSB", class: "block text-sm font-medium text-gray-700 mb-1" %>
                    <%= form.number_field :bsb, class: "block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
                </div>
                <%= form.submit "Save", class: "w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-400 focus:outline-none focus:border-green-500 focus:shadow-outline-green transition duration-150 ease-in-out cursor-pointer" %>
            <% end %>
            <%= form_with class: "lg:pl-4 pt-4 lg:pt-0" do |form| %>
                <h2 class="bg-green-50 mb-5 text-base font-bold text-gray-900 text-center p-2 rounded border border-gray-300">You have $1,000 in your balance.</h2>
                <div class="grid grid-cols-2 gap-4">
                    <div class="mb-5">
                        <%= form.label :dollars, "Dollars", class: "block text-sm font-medium text-gray-700 mb-1" %>
                        <%= form.number_field :dollars, class: "block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
                    </div>
                    <div class="mb-5">
                        <%= form.label :cents, "Cents", class: "block text-sm font-medium text-gray-700 mb-1" %>
                        <%= form.number_field :cents, class: "block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
                    </div>
                </div>
                <%= form.submit "Transfer", class: "w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-400 focus:outline-none focus:border-green-500 focus:shadow-outline-green transition duration-150 ease-in-out cursor-pointer" %>
            <% end %>
        </div>
    </div>
</div>

<%= javascript_pack_tag 'navbar' %>
