<%= render "shared/navbar" %>
<%= render "shared/hero" %>

<div class="px-4 bg-gray-50">
    <div class="max-w-6xl mx-auto py-8">
        <div class="grid grid-cols-7 gap-8">
            <aside class="md:col-span-2 col-span-full text-gray-900">
                <div>
                    <ul>
                        <li class="px-1 py-2 block font-bold">Categories</li>
                        <li>
                            <%= link_to products_path, class: "transition-colors duration-150 px-2 py-2 block rounded-sm hover:bg-gray-300 bg-gray-300" do %>
                                All (10)
                            <% end %>
                        </li>
                        <li>
                            <%= link_to products_path, class: "transition-colors duration-150 px-2 py-2 block rounded-sm hover:bg-gray-300" do %>
                                Furnitures (3)
                            <% end %>
                        </li>
                        <li>
                            <%= link_to products_path, class: "transition-colors duration-150 px-2 py-2 block rounded-sm hover:bg-gray-300" do %>
                                Clothes (3)
                            <% end %>
                        </li>
                        <li>
                            <%= link_to products_path, class: "transition-colors duration-150 px-2 py-2 block rounded-sm hover:bg-gray-300" do %>
                                Exercise (3)
                            <% end %>
                        </li>
                    </ul>
                    <hr class="my-1" />
                    <ul>
                        <li class="px-1 py-2 block font-bold">Price</li>
                        <li>
                            <%= form_with url: "/products", method: :get, class: "flex flex-col" do |form| %>
                                <div class="grid grid-cols-2 gap-2 mb-2">
                                    <%= form.number_field :min_price, class: "border border-gray-300 shadow-sm focus:outline-none focus:border-green-500 text-sm p-2", autocomplete: "off", placeholder: "Min ($)" %>
                                    <%= form.number_field :max_price, class: "border border-gray-300 shadow-sm focus:outline-none focus:border-green-500 text-sm p-2", autocomplete: "off", placeholder: "Max ($)" %>
                                </div>
                                <%= form.submit "Search", class: "p-2 border-2 border-green-500 font-medium rounded-sm text-green-500 bg-transparent hover:bg-green-500 hover:text-white focus:outline-none focus:border-green-500 focus:shadow-outline-green transition duration-150 ease-in-out cursor-pointer" %>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </aside>
            <div class="md:col-span-5 col-span-full">
                <div class="grid gap-4">
                    <article class="flex flex-col sm:flex-row bg-white rounded-md p-4 shadow text-gray-900">
                        <img src="https://via.placeholder.com/150" class="w-36 h-36">
                        <div class="flex flex-col justify-between sm:ml-4">
                            <div class="py-4 sm:py-0">
                                <div class="flex justify-between">
                                    <p class="font-medium">Title</p>
                                    <p class="font-medium">$9.99</p>
                                </div>
                                <p class="text-sm"><%= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce risus sem, sollicitudin non purus sit amet, dapibus feugiat lorem. Nulla lobortis imperdiet nunc, vitae lobortis mi dignissim a.".truncate(150) %></p>
                            </div>
                            <div class="flex justify-between items-center">
                                <div></div>
                                <p class="italic text-sm">09/11/2021</p>
                            </div>
                        </div>
                    </article>
                    <article class="flex flex-col sm:flex-row bg-white rounded-md p-4 shadow text-gray-900">
                        <img src="https://via.placeholder.com/150" class="w-36 h-36">
                        <div class="flex flex-col justify-between sm:ml-4">
                            <div class="py-4 sm:py-0">
                                <div class="flex justify-between">
                                    <p class="font-medium">Title</p>
                                    <p class="font-medium">$9.99</p>
                                </div>
                                <p class="text-sm"><%= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce risus sem, sollicitudin non purus sit amet, dapibus feugiat lorem. Nulla lobortis imperdiet nunc, vitae lobortis mi dignissim a.".truncate(150) %></p>
                            </div>
                            <div class="flex justify-between items-center">
                                <div></div>
                                <p class="italic text-sm">09/11/2021</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

<%= javascript_pack_tag 'navbar' %>
<%= javascript_pack_tag 'products' %>