<%= render "shared/navbar" %>
<%= render "shared/hero" %>

<div class="px-4 bg-gray-50">
    <div class="max-w-6xl mx-auto py-8">
        <% if @product %>
            <p class="mb-4 text-sm"><%= link_to "Home", root_path, class: "hover:underline" %><i class="fas fa-chevron-right text-xs mx-2 text-gray-400"></i><%= link_to @category == "all" ? "All" : @category.title, @category == "all" ? products_path(category: "all") : products_path(category: @category.slug), class: "hover:underline" %><i class="fas fa-chevron-right text-xs mx-2 text-gray-400"></i><%= @product.title.capitalize %></p>
            <div class="grid gap-4">
                <div class="grid grid-cols-8 gap-4 md:items-start">
                    <div class="md:col-span-5 col-span-full">
                        <div class="mb-4">
                            <div class="bg-white shadow rounded-b">
                                <div id="main-slider" class="splide">
                                    <div class="splide__track">
                                        <ul class="splide__list">
                                            <% @product.product_images.each do |product_image| %>
                                                <li class="splide__slide">
                                                    <%= image_tag product_image.image, class: "" %>
                                                </li>
                                            <% end %>
                                        </ul>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div id="thumbnail-slider" class="splide">
                                        <div class="splide__track">
                                            <ul class="splide__list">
                                                <% @product.product_images.each do |product_image| %>
                                                    <li class="splide__slide">
                                                        <%= image_tag product_image.image %>
                                                    </li>
                                                <% end %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white rounded p-4 mb-4 shadow text-gray-900 md:hidden">
                            <%= form_with url: create_transaction_path, method: :post, class: "" do |form| %>
                                <div class="flex flex-col justify-between">
                                    <div class="">
                                        <div class="flex justify-between text-lg">
                                            <p class="font-medium"><%= @product.title.capitalize %></p>
                                            <p class="font-medium products-show__price" data-price=<%= "#{@product.price}"%>><%= number_to_currency @product.price/100.0 %></p>
                                        </div>
                                        <p class="text-sm mb-1"><%= @product.user.username %></p>
                                        <p class="text-xs mb-4"><%= @product.updated_at %></p>
                                        <p class="text-sm mb-4"><%= @product.description %></p>
                                    </div>
                                    <div class="mb-4 text-sm flex items-center">
                                        <%= form.label :quantity, "Quantity:", class: "font-bold" %>
                                        <%= form.number_field :quantity, class: "mx-4 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-sm w-20", value: 1, id: "products-show__quantity1", min: 1 %>
                                        <%= form.hidden_field :product_id, value: @product.id %>
                                        <% if @product.stock > 0 %>
                                            <p><%= @product.stock %> available</p>
                                        <% else %>
                                            <p class="text-red-500 font-bold">SOLD OUT</p>
                                        <% end %>
                                    </div>
                                    <div>
                                        <% if @product.stock > 0 %>
                                            <button type="button" class="w-full flex justify-center py-2 px-4 mb-2 border-2 border-transparent text-sm font-medium rounded text-white bg-green-500 hover:bg-green-400 focus:outline-none focus:border-green-500 focus:shadow-outline-green transition duration-150 ease-in-out cursor-pointer add-to-cart">Add to cart</button>
                                            <%= form.submit "Buy now", class: "w-full flex justify-center py-2 px-4 border-2 border-green-500 text-sm font-medium rounded text-green-500 hover:text-white hover:bg-green-500 bg-transparent focus:outline-none focus:border-green-500 focus:shadow-outline-green transition duration-150 ease-in-out cursor-pointer" %>
                                            <div class="w-48 mx-auto">
                                                <%= image_tag "3_Card_color_horizontal.svg" %>
                                            </div>
                                        <% else %>
                                            <button class="w-full flex justify-center py-2 px-4 mb-2 border-2 border-transparent text-sm font-medium rounded text-white bg-green-500 hover:bg-green-400 focus:outline-none focus:border-green-500 focus:shadow-outline-green transition duration-150 ease-in-out cursor-not-allowed opacity-50" disabled>Add to cart</button>
                                            <button class="w-full flex justify-center py-2 px-4 border-2 border-green-500 text-sm font-medium rounded text-green-500 hover:text-white hover:bg-green-500 bg-transparent focus:outline-none focus:border-green-500 focus:shadow-outline-green transition duration-150 ease-in-out cursor-not-allowed opacity-50" disabled>Buy now</button>
                                            <div class="w-48 mx-auto">
                                                <%= image_tag "3_Card_color_horizontal.svg" %>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <div class="bg-white rounded p-4 shadow text-gray-900">
                            <h2 class="text-xl font-extrabold text-gray-900 mb-4">Comments</h2>
                            <% if @product.comments.count > 0 %>
                                <% @product.comments.each do |comment| %>
                                    <% if comment.parent_comment.nil? %>
                                        <div class="border-b py-4">
                                            <h3 class="font-bold mb-1"><%= comment.user.username %></h3>
                                            <p class="text-xs mb-1"><%= comment.updated_at %></p>
                                            <p class="text-sm"><%= comment.comment %></p>
                                            <div class="flex">
                                                <div class="mr-2">
                                                    <button class="text-xs text-gray-500 mt-4 hover:underline reply-btn" data-comment_id="<%= comment.id %>">Reply</button>
                                                </div>
                                                <% if comment.user === current_user %>
                                                    <%= form_with url: comments_delete_path(comment), method: :delete do |f| %>
                                                        <%= f.hidden_field :slug, value: @product.slug  %>
                                                        <button class="text-xs text-gray-500 mt-4 hover:underline">Delete</button>
                                                    <% end %>
                                                <% end %>
                                            </div>
                                            <div class="ml-12">
                                                <% if comment.child_comments.count > 0 %>
                                                    <% comment.child_comments.each do |child_comment| %>
                                                        <div class="border-b py-4">
                                                            <h3 class="font-bold mb-1"><%= child_comment.user.username %></h3>
                                                            <p class="text-xs mb-1"><%= child_comment.updated_at %></p>
                                                            <p class="text-sm"><%= child_comment.comment %></p>
                                                            <% if child_comment.user === current_user %>
                                                                <%= form_with url: comments_reply_delete_path(child_comment), method: :delete do |f| %>
                                                                    <%= f.hidden_field :slug, value: @product.slug  %>
                                                                    <button class="text-xs text-gray-500 mt-4 hover:underline">Delete</button>
                                                                <% end %>
                                                            <% end %>
                                                        </div>
                                                    <% end %>
                                                <% end %>
                                                <% if flash["success_reply_#{comment.id}".to_sym] %>
                                                    <div class="rounded-md bg-green-200 p-4 mt-3 text-gray-900 px-5 text-sm">
                                                        <%= flash["success_reply_#{comment.id}".to_sym] %>
                                                    </div>
                                                <% end %>
                                                <% if flash["alert_reply_#{comment.id}".to_sym] %>
                                                    <ul class="rounded-md bg-red-400 p-4 mt-3 text-white">
                                                        <% flash["alert_reply_#{comment.id}".to_sym].each do |message| %>
                                                            <div class="px-5 text-sm">
                                                                <li class="list-disc"><%= message %></li>
                                                            </div>
                                                        <% end %>
                                                    </ul>
                                                <% end %>
                                                <div class="hidden reply-form-<%= comment.id %>">
                                                    <%= form_with url: comments_reply_new_path(id: comment.id), method: :post, class: "w-full mt-4" do |f| %>
                                                        <%= f.hidden_field :slug, value: @product.slug  %>
                                                        <div class="field mb-2">
                                                            <%= f.text_area :comment, class: "block w-full px-3 py-2 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-sm", rows: 3, placeholder: "Write your reply here." %>
                                                        </div>
                                                        <%= f.submit "Submit Reply", class: "w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded text-white bg-green-500 hover:bg-green-400 focus:outline-none focus:border-green-500 focus:shadow-outline-green transition duration-150 ease-in-out cursor-pointer" %>
                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                <% end %>
                            <% else %>
                                <div class="border-b py-4">
                                    No comments found
                                </div>
                            <% end %>
                            <% if user_signed_in? %>
                                <%= form_with url: comments_new_path, method: :post, class: "w-full mt-4" do |f| %>
                                    <%= f.hidden_field :slug, value: @product.slug  %>
                                    <% if flash[:success_comment] %>
                                        <div class="rounded-md bg-green-200 p-4 mb-3 text-gray-900 px-5 text-sm">
                                            <%= flash[:success_comment] %>
                                        </div>
                                    <% end %>
                                    <% if flash[:alert_comment] %>
                                        <ul class="rounded-md bg-red-400 p-4 mb-3 text-white">
                                            <% flash[:alert_comment].each do |message| %>
                                                <div class="px-5 text-sm">
                                                    <li class="list-disc"><%= message %></li>
                                                </div>
                                            <% end %>
                                        </ul>
                                    <% end %>
                                    <div class="field mb-2">
                                        <%= f.text_area :comment, class: "block w-full px-3 py-2 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-sm", rows: 3, placeholder: "Write your comment here." %>
                                    </div>
                                    <%= f.submit "Submit Comment", class: "w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded text-white bg-green-500 hover:bg-green-400 focus:outline-none focus:border-green-500 focus:shadow-outline-green transition duration-150 ease-in-out cursor-pointer" %>
                                <% end %>
                            <% else %>
                                <div class="text-center text-sm mt-4 p-4 bg-blue-100 rounded border-2 border-blue-200 text-blue-900">
                                    Please <%= link_to "sign in", new_user_session_path, class: "font-bold hover:underline" %> to write comments.
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <div class="md:col-span-3 col-span-full bg-white rounded p-4 shadow text-gray-900 hidden md:block sticky top-0">
                        <%= form_with url: create_transaction_path, method: :post, class: "" do |form| %>
                            <div class="flex flex-col justify-between">
                                <div class="">
                                    <div class="flex justify-between text-lg">
                                        <p class="font-medium"><%= @product.title.capitalize %></p>
                                        <p class="font-medium"><%= number_to_currency @product.price/100.0 %></p>
                                    </div>
                                    <p class="text-sm mb-1"><%= @product.user.username %></p>
                                    <p class="text-xs mb-4"><%= @product.updated_at %></p>
                                    <p class="text-sm mb-4"><%= @product.description %></p>
                                </div>
                                <div class="mb-4 text-sm flex items-center">
                                    <%= form.label :quantity, "Quantity:", class: "font-bold" %>
                                    <%= form.number_field :quantity, class: "mx-4 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-sm w-20", value: 1, id: "products-show__quantity2", min: 1 %>
                                    <%= form.hidden_field :product_id, value: @product.id %>
                                    <% if @product.stock > 0 %>
                                        <p><%= @product.stock %> available</p>
                                    <% else %>
                                        <p class="text-red-500 font-bold">SOLD OUT</p>
                                    <% end %>
                                </div>
                                <div>
                                    <% if @product.stock > 0 %>
                                        <button type="button" class="w-full flex justify-center py-2 px-4 mb-2 border-2 border-transparent text-sm font-medium rounded text-white bg-green-500 hover:bg-green-400 focus:outline-none focus:border-green-500 focus:shadow-outline-green transition duration-150 ease-in-out cursor-pointer add-to-cart">Add to cart</button>
                                        <%= form.submit "Buy now", class: "w-full flex justify-center py-2 px-4 border-2 border-green-500 text-sm font-medium rounded text-green-500 hover:text-white hover:bg-green-500 bg-transparent focus:outline-none focus:border-green-500 focus:shadow-outline-green transition duration-150 ease-in-out cursor-pointer" %>
                                        <div class="w-48 mx-auto">
                                            <%= image_tag "3_Card_color_horizontal.svg" %>
                                        </div>
                                    <% else %>
                                        <button class="w-full flex justify-center py-2 px-4 mb-2 border-2 border-transparent text-sm font-medium rounded text-white bg-green-500 hover:bg-green-400 focus:outline-none focus:border-green-500 focus:shadow-outline-green transition duration-150 ease-in-out cursor-not-allowed opacity-50" disabled>Add to cart</button>
                                        <button class="w-full flex justify-center py-2 px-4 border-2 border-green-500 text-sm font-medium rounded text-green-500 hover:text-white hover:bg-green-500 bg-transparent focus:outline-none focus:border-green-500 focus:shadow-outline-green transition duration-150 ease-in-out cursor-not-allowed opacity-50" disabled>Buy now</button>
                                        <div class="w-48 mx-auto">
                                            <%= image_tag "3_Card_color_horizontal.svg" %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        <% else %>
            <p class="mb-4 text-sm"><%= link_to "Home", root_path, class: "hover:underline" %><i class="fas fa-chevron-right text-xs mx-2 text-gray-400"></i><%= link_to @category == "all" ? "All" : @category.title, @category == "all" ? products_path(category: "all") : products_path(category: @category.slug), class: "hover:underline" %><i class="fas fa-chevron-right text-xs mx-2 text-gray-400"></i><%= @slug.capitalize %></p>
            <article class="p-4 text-gray-900 text-center font-bold">
                No product was found
            </article>
        <% end %>
    </div>
</div>

<%= javascript_pack_tag 'navbar' %>
<%= javascript_pack_tag 'hero' %>
<%= javascript_pack_tag 'products_show' %>