<% provide(:title, "Sale history") %>

<%= render "shared/navbar" %>
<div class="bg-gray-50 py-12 px-6 xl:px-28 grid grid-cols-7 gap-8">
    <%= render "profile/shared/side_navbar" %>
    <div class="md:col-span-5 col-span-full">
        <h1 class="text-3xl font-extrabold text-gray-900 text-center mb-8">Sale history</h1>
        <% if flash[:success_ad] %>
            <div class="rounded-md bg-green-200 p-4 mb-3 text-gray-900 px-5 text-sm">
                <%= flash[:success_ad] %>
            </div>
        <% end %>
        <% if flash[:alert_ad] %>
            <div class="rounded-md bg-red-400 p-4 mb-3 text-white px-5 text-sm">
                <%= flash[:alert_ad] %>
            </div>
        <% end %>
        <div class="grid gap-4">
            <% if @sales.count == 0 %>
                <article class="p-4 text-gray-900 text-center font-bold col-span-full">
                    No sales found
                </article>
            <% end %>
            <% @sales.each do |sale| %>
                <article class="flex flex-col sm:flex-row bg-white rounded-md p-4 shadow text-gray-900">
                    <div class="w-36 h-36 flex justify-center items-center bg-gray-100">
                        <%= image_tag sale.product.product_images.first.image, class: "object-contain max-h-full" %>
                    </div>
                    <div class="flex flex-col justify-between sm:ml-4 flex-1">
                        <div class="py-4 sm:py-0">
                            <div class="flex justify-between">
                                <p class="font-medium"><%= sale.product.title %></p>
                                <p class="font-medium">Total: <%= number_to_currency (sale.price/100.0 * sale.quantity) %></p>
                            </div>
                            <p class="text-sm">Unit price: <%= number_to_currency sale.price/100.0 %></p>
                            <p class="text-sm">Quantity: <%= sale.quantity %></p>
                            <p class="text-sm">Buyer: <%= sale.buyer.username %></p>
                        </div>
                        <div class="flex justify-between items-center">
                            <div class="flex items-center">
                                <%= link_to products_show_path(category: "all", slug: sale.product.slug), class: "bg-blue-400 hover:bg-blue-500 text-white border py-1 px-2 rounded font-medium transition duration-150 ease-in-out mr-2" do %>
                                    View
                                <% end %>
                            </div>
                            <p class="italic text-sm"><%= sale.updated_at %></p>
                        </div>
                    </div>
                </article>
            <% end %>
            <%= will_paginate @sales %>
        </div>
    </div>
</div>

<%= javascript_pack_tag 'navbar' %>